.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.card {
    background-color: rgb(196, 153, 236);
    width: 850px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px #cfadad33;
    margin: 10px;
}
